#wrap{ margin: 0 auto; width:800px;}
	ul{
		background-color: #FFD9FA;
		padding: 10px 0px 10px 10px;
		text-align:right; overflow:hidden;
	}
	li{
		text-align:center; height:100px;
		padding: 20px 20px 20px 20px;
		background-color: red;
		color: white; font-size:16px;
		list-style: none; display: inline;
	}
	a{
		text-decoration: none; color:white;
	}
	span.swrite{color:white;}
	span:active + span.swrite { background-color: black; }